@media(max-width:992px){

section{

padding:80px 0;

}

}

@media(max-width:768px){

.container{

width:94%;

}

}

@media(max-width:576px){

section{

padding:70px 0;

}

}

@media(max-width:900px){

.nav-menu{

display:none;

}

.menu-toggle{

display:block;

}

}